{% extends 'index.html' %}


{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid mt-3">
    <table class="container-fluid table-hover table-bordered text-center m-1">
        <tr>
            <td class="table-dark h5">
                S. No.
            </td>
            <td class="table-dark h5">
                Name
            </td>
            <td class="table-dark h5">
                Email
            </td>
            <td class="table-dark h5">
                Phone
            </td>
            <td class="table-dark h5">
                Address
            </td>
            <td class="table-dark h5">
                City
            </td>
            <td class="table-dark h5">
                State
            </td>
            <td class="table-dark h5">
                ZipCode
            </td>
        </tr>
        {% for record in records %}
            <tr>
                <td class="table-dark">
                    <a href="{% url 'Cust_record' record.id %}">{{ forloop.counter }}</a>
                </td>
                <td class="table-dark">
                    {{ record.first_name }} {{ record.last_name }}
                </td>
                <td class="table-dark">
                    {{ record.email }}
                </td>
                <td class="table-dark">
                    {{ record.phone }}
                </td>
                <td class="table-dark">
                    {{ record.address }}
                </td>
                <td class="table-dark">
                    {{ record.city }}
                </td>
                <td class="table-dark">
                    {{ record.state }}
                </td>
                <td class="table-dark">
                    {{ record.zipcode }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'addrecord' %}">
        <button class="btn btn-primary m-3">
            Add
        </button>
    </a>
    {% if messages %}
        {% for mess in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ mess }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
    {% endif %}
</div>
{% else %}
    <div class="col-md-6 offset-md-2">
    <h1>Login</h1>
        <form method="POST" action="{% url 'homepage' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" aria-describedby="emailHelp" name="username" placeholder="Username" required>
            </div><br>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div><br>
            <button type="submit" class="btn btn-primary">Login</button><br><br>
            <p>New User?</p>
            <a class="btn btn-primary" href="{% url 'register' %}" role="button">SignUp</a>
            {% if messages %}
                {% for mess in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ mess }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
    </form>
    </div>
{% endif %}
{% endblock %}